body {
    margin:0;
}

hr {
    margin:100px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid rgb(235, 235, 235);

}

a {
    text-decoration:none; 
    color:black;
}

a:visited {
    color:gray;
}

a:active {
    color:red
}

#headline {
    font-size:30px;
    text-align:center;
    border-bottom:solid 1px gray;
    margin:0;
    padding:20px
}

h1 {
    margin:0;
}

h3 {
    margin-top:0;
}

#list {
    border-right: gray 1px solid;
    width:100px;
    margin:0;
    padding-top:20px;
    padding-left:10px;
    padding-right:30px;
}

#grid{
    display:grid;
    grid-template-columns: 140px 1fr;
}
#grid #article{
    padding-left:20px;
    padding-right:20px;
}
@media(max-width:750px){
    #grid{
        display:block;
    }
    #list {
        border-right:none;
        display:table;
        margin-left:auto;
        margin-right: auto;
    }
    #headline {
        border-bottom: none
    }
    #article {
        display:table;
        margin-left:auto;
        margin-right:auto;
    }
}